<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mensajeria</title>
	<link rel="stylesheet" href="{% static 'appBlog/fontawesome/css/all.min.css' %}"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="{% static 'appBlog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'appBlog/css/templatemo-xtra-blog.css' %}" rel="stylesheet">
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item active"><a href="{% url 'inicio' %}" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Inicio
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url 'enviar_mensajes' %}" class="tm-nav-link">
                        <i class="fas fa-marker"></i>
                        Enviar mensaje
                    </a></li>
                </ul>
            </nav>
        </div>
    </header>

{% if mensajes_enviados %}
    <h1 style="color:red;text-align:center"> Mensajes enviados</h1>
    <div class="container-fluid">
    {% for mensaje in mensajes_enviados %}
    <div class="text-center">   
        <ul> 
            <li>Usuario: {{mensaje.usuario_origen}} dice: </li>
            <li>{{mensaje.texto}}</li>
            <li>Para: {{mensaje.usuario_destino}}</li>
            <br>
        </ul>
    </div>
    {% endfor %}
{% endif %}
                   

{% if mensajes_recibidos %}
                <h1 style="color:red;text-align:center"> Mensajes Recibidos</h1>
                {% for mensaje in mensajes_recibidos %}
                    <div class="text-center">
                        <ul style="display:felx;justify-content:center"> 
                            <li>Usuario: {{mensaje.usuario_origen}} dice:</li>
                            <li>{{mensaje.texto}}</li>
                            <li>Para: {{mensaje.usuario_destino}}</li>
                            <br>
                        </ul>
                    </div>
                {% endfor %}
{% endif %}
            </div>
        </main>
    </div>

</body>
</html>