{% extends "page.html" %}

{% load static %}

{% block sidebar %}

<li class="tm-nav-item"><a href="{% url 'editar_blog' blog.id_blog %}" class="tm-nav-link">
    <i class="fas fa-edit"></i>
    Editar blog
</a></li>
<li class="tm-nav-item"><a href="#" class="tm-nav-link">
    <i class="far fa-trash-alt"></i>
    Borrar blog
</a></li>

{% endblock %}


{% block bloqueBlog %}

<div class="container-fluid">
    <main class="tm-main">         
        <div class="row tm-row">
            <div class="col-12">
                <hr class="tm-hr-primary tm-mb-55">
                <img src="{% static 'appBlog/img/prueba.jpg' %}" alt="Image" class="img-fluid">  
            </div>
        </div>
        <div class="row tm-row">
            <div class="col-lg-8 tm-post-col">
                <div class="tm-post-full">                    
                    <div class="mb-4">
                        <h2 class="pt-2 tm-color-primary tm-post-title">{{blog.titulo}}</h2>
                        <h4 class="pt-2 tm-color-primary tm-post-subtitle">{{blog.subtitulo}}</h4>
                        <p class="tm-mb-40">{{blog.fecha}}, autor {{blog.autor}}</p>
                        <p> {{blog.cuerpo}} </p>
            </div>        
        </div>
    </div>
</div>

{% endblock %}